USE [projdb]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 11/05/2020 2:47:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department] [int] NOT NULL,
	[code] [nchar](10) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[year] [int] NOT NULL,
	[semester] [int] NOT NULL,
 CONSTRAINT [PK_courses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[resit]    Script Date: 11/05/2020 2:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[stlevel] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_resit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[studcourse]    Script Date: 11/05/2020 2:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studcourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[level] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_coursereg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[students]    Script Date: 11/05/2020 2:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[matricno] [nvarchar](50) NOT NULL,
	[stlevel] [int] NOT NULL,
	[dept] [int] NOT NULL,
	[state] [int] NOT NULL,
	[passport] [image] NOT NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_at] [datetime] NULL,
	[modified_by] [int] NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/05/2020 2:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffid] [int] NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[firstname] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[active] [bit] NOT NULL,
	[status] [bit] NOT NULL,
	[createdby] [int] NOT NULL,
	[createdon] [datetime] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id], [department], [code], [title], [year], [semester]) VALUES (1, 13, N'CSC 201   ', N'Computer Programming', 0, 0)
INSERT [dbo].[courses] ([id], [department], [code], [title], [year], [semester]) VALUES (2, 13, N'CSC 211   ', N'Operating System', 1, 0)
INSERT [dbo].[courses] ([id], [department], [code], [title], [year], [semester]) VALUES (3, 13, N'CSC 241   ', N'Computer Hardware', 1, 0)
SET IDENTITY_INSERT [dbo].[courses] OFF
SET IDENTITY_INSERT [dbo].[resit] ON 

INSERT [dbo].[resit] ([id], [student_id], [course_id], [stlevel], [user_id], [created_at]) VALUES (1, 4, 2, 2, 1, CAST(N'2020-04-10 15:48:22.587' AS DateTime))
INSERT [dbo].[resit] ([id], [student_id], [course_id], [stlevel], [user_id], [created_at]) VALUES (2, 4, 9, 2, 1, CAST(N'2020-04-10 15:48:22.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[resit] OFF
SET IDENTITY_INSERT [dbo].[studcourse] ON 

INSERT [dbo].[studcourse] ([id], [student_id], [course_id], [level], [user_id], [created_at]) VALUES (1, 4, 23, 2, 1, CAST(N'2020-04-10 15:46:58.683' AS DateTime))
INSERT [dbo].[studcourse] ([id], [student_id], [course_id], [level], [user_id], [created_at]) VALUES (2, 4, 22, 2, 1, CAST(N'2020-04-10 15:46:58.700' AS DateTime))
INSERT [dbo].[studcourse] ([id], [student_id], [course_id], [level], [user_id], [created_at]) VALUES (3, 4, 28, 2, 1, CAST(N'2020-04-10 15:46:58.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[studcourse] OFF
SET IDENTITY_INSERT [dbo].[students] ON 

SET IDENTITY_INSERT [dbo].[students] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [staffid], [password], [firstname], [lastname], [active], [status], [createdby], [createdon]) VALUES (1, 1, N'09433E1853385270B51511571E35EECA', N'admin', N'system', 1, 1, 1, CAST(N'2020-02-24 10:15:15.250' AS DateTime))
INSERT [dbo].[users] ([id], [staffid], [password], [firstname], [lastname], [active], [status], [createdby], [createdon]) VALUES (2, 1000, N'65096A293AC7B1A16EDAB830073DDD5F', N'Tony', N'Obinna', 1, 1, 1, CAST(N'2020-02-24 10:43:17.823' AS DateTime))
INSERT [dbo].[users] ([id], [staffid], [password], [firstname], [lastname], [active], [status], [createdby], [createdon]) VALUES (3, 1001, N'2AC5542EBCFD5E6E935AF77A526E3974', N'Okey', N'Okay', 0, 1, 1, CAST(N'2020-02-24 12:56:38.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
